<nav aria-label="breadcrumb" id="breadcrumbNav">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active"><a href="/forums?page=1">Forums</a></li>
    <li class="breadcrumb-item active"><a href="/forums/discussion/<%= post.discussionId %>"><%= post.Discussion.title %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= post.title %></li>
  </ol>
</nav>
