body {
  padding: 2rem;
}

#landingNews {
  padding: 2rem;
}

#headerFonts {
  padding: .5rem;
  color: #007bff;
}

#backgroundImg {
  background-image: url('../images/JEdnVm.png');
  background-repeat: no-repeat;
  background-size: 120%;
}

#userContainer {
  width: 30rem;
  padding: 2rem;
}

#formContainer {
  padding: 2rem;
  background-color: white;
  border-radius: .2rem;
  width: auto;
}

#breadcrumbNav {
  height: 3rem;
  width: fit-content;
}

.alert {
  width: 58rem;
}
