<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body id="backgroundImg">
    <h1>
      <a class="d-flex justify-content-center" href="/">Invade The Rift</a>
    </h1>

      <%- include('partials/navbar'); %>

        <div class="container text-center" id="landingNews">
          <div class="row justify-content-around">
            <div class="col-4 badge badge-dark text-wrap">
              <h4>Trending Discussions</h4>
            </div>
            <div class="col-4 badge badge-dark text-wrap">
              <h4>Official News</h4>
            </div>
          </div>
        </div>


    <%- include('partials/baseScripts'); %>
  </body>
</html>
